* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar #logo img {
  width: 120px;
  height: 60px;
  margin-left: 30px;
}

.nav-links {
  font-size: 18px;
}
.nav-links a {
  color: rgb(211, 209, 209);
  text-decoration: none;
  margin-inline: 20px;
}
a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navbar button {
  padding: 12px 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-right: 30px;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
}

/* hero section styling */

.hero {
  width: 100%;
  height: 500px;
  background-image: url("hero-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
  color: white;
}

.hero p {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}
.hero a {
  color: white;
  text-decoration: none;
  background-color: #ff8c00;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

/* what is portfolio styling */

.what-is-portfolio {
  width: 100%;
  height: 400px;
  background-color: #f7f7f7;
}

.what-is-portfolio .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.what-is-portfolio .content {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-left: 30px;
}
.content h2 {
  font-size: 36px;
  color: #333;
}
.content p {
  font-size: 20px;
  color: #666;
  margin-top: 20px;
}
.what-is-portfolio .image {
  width: 50%;
  height: 100%;
}
.image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: scale 2s ease;
}
.image img:hover {
  transform: scale(1.1);
}

/* & intro styling  */

.my-intro {
  width: 100%;
  height: 400px;
  background-color: #f7f7f7;
}

.my-intro .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.my-intro .content {
  width: 50%;
  height: 100%;
  text-align: left;
  margin-right: 30px;
}

.my-intro .content h2 {
  font-size: 36px;
  color: #333;
}

.my-intro .content p {
  font-size: 20px;
  color: #666;
  margin-top: 20px;
}
.my-intro .image {
  width: 50%;
  height: 100%;
}
.image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: scale 2s ease;
}
.image img:hover {
  transform: scale(1.1);
}

/* footer */

footer {
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer p {
  font-size: 24px;
}
